.class-selection-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: calc(100vh - 75px); // height of viewport - nav bar height

}